* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Fira Sans', sans-serif;
}

.content-area {
    display: flex;
    height: 88vh;
}

/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
// Header
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////

header {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    height: 12vh;
    background-color: rgba(44, 199, 104, 0.205);

    h1 {
        color: #AAA;
        font-size: 36px;
        font-weight: 400;
        text-align: center;
    }

    strong {
        color: #313131;
    }

    .title {
        flex: 0 0 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        height: 50px;
        margin: 5px 5px 0 0;
    }
    
    .navbar {
        display: flex;
        flex: 1;
        justify-content: space-between;
    }

    .nav-list {
        display: flex;
        list-style-type: none;
        font-size: 20px;
        border: 2px solid black;
    }

    .nav-item {
        text-align: center;
        min-width: 100px;
        border: 2px solid black;
        padding: 5px;

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    .search-bar {
        flex: 0 0 30%;
        height: 80%;
        align-self: center;
        margin-right: 50px;
        margin-left: 100px;
        border-radius: 100px;
        padding-left: 10px;
        border: white;
    }
}

/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
// Sidebar
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////

sidebar {
    display: flex;
    flex: 0 0 20%;

    flex-direction: column;
    width: 300px;
    background-color: #1639612c;

    .selection-header {
        margin-bottom: 10px;
        text-align: center;
    }

    .selection-choices {
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        .selection-choice {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}

/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
// Main Content
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////

main {
    flex: 1 1 auto;
    background-color: #832b2b21;
}